<launch>
<!-- 	<arg name="marker_size" default="3.5" />
	<arg name="max_new_marker_error" default="0.08" />
	<arg name="max_track_error" default="0.2" />
	<arg name="cam_image_topic_bottom" default="/naoqi_driver_node/camera/bottom/image_raw" />
	<arg name="cam_info_topic_bottom" default="/naoqi_driver_node/camera/bottom/camera_info" />
	<arg name="cam_image_topic_front" default="/naoqi_driver_node/camera/front/image_raw" />
	<arg name="cam_info_topic_front" default="/naoqi_driver_node/camera/front/camera_info" /> -->
	<!-- <arg name="output_frame" default="/base_link" /> -->
<!-- 	<arg name="output_frame" default="/base_footprint" />
	<arg name="med_filt_size" default="10" />
	<arg name="bundle_files" default="$(find ar_track_alvar)/bundles/truthTableLeg.xml $(find ar_track_alvar)/bundles/table_8_9_10.xml" /> -->

	<node name="shitomashi_with_goodFeatures_node" pkg="vision" type="shitomashi_goodFeatures_chesspoints" respawn="false" output="screen"/>
	<node name="movement_detection_node" pkg="vision" type="movements_detection" respawn="false" output="screen"/>
	<node name="NAO_behavior" pkg="vision" type="NAO_behavior_node" respawn="false" output="screen"/>

<!-- 	<node name="ar_track_alvar_front" pkg="ar_track_alvar" type="individualMarkersForChess" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic_front) $(arg cam_info_topic_front) $(arg output_frame)" /> -->

<!-- 	<node name="ar_track_alvar" pkg="ar_track_alvar" type="findMarkerBundles" respawn="false" output="screen" args="$(arg cam_image_topic_bottom) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame) $(arg med_filt_size) $(arg bundle_files)"  -->

</launch>
