$ cat .gitignore
# exclude everything except below directories.. (git help gitignore to see more options)
/*
!/ar_track_with_chess
!/vision
!/CMakeLists.txt
!/README.md
!/chessboard_schematics
!/naoqi_driver

!/.gitignore
